.body {
  background-color: #353535;
}

.thumbnailBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: max-content;
  width: 100%;
  position: relative;
}

.homeThumbnail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: center;
}

.homeHeader {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 20px;
}
.homepage {
  background-color: #353535;
}

.flex-container {
  padding: 5px;
  height: 100%;
  width: 100%;
  border: 0px solid red;
  display: flex;
  background-color: #353535;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: space-around;
}

a {
  color: pink;
  text-decoration: none;
}

.itemContainer:hover {
  background-color: #454553;
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
}

.itemContainer {
  padding: 20px;
  border: 1px solid #454553;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  gap: 30px;
}
.caption {
  text-align: center;
}

.itemLabel {
  font-size: 300px;
  color: red;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #353535;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.myBtnContainer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px 5px;
  gap: 5px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
